<div class="dogs index">
  <h1>Doggos</h1>


  <div class="dog-profile-cards">
    <span class="dog-info-span dog-name-link"><%= link_to dog.name, dog_path(dog) %></span>
    <span class="dog-info-span"><%= dog.breed %></span>
    <span class="dog-info-span"><%= dog.city %> </span>
    <span class="dog-info-span"><%= dog_show_rating_display.call(dog.user_rating) %></span>
  </div>
 
  
</div>
