<div class='dogs show' data-currentUserId="<%=@current_user.id%>" data-recordId="<%=params[:id]%>">
  <%= render partial: 'dogs/profile_view' %>

  
  <section id="owner-editing-options"></section>
  
</div>
