<h1>Pettr</h1>
<%= link_to "Create new Pettr", new_petting_path %><br><br>

<div class="petting-cards-container">
<% @pettings.each do |petting| %>
  <%= display_petting_cards(petting, petting_index_pets_display, petting_index_rating_display) %>
<% end %>
</div>
