<div class="home pettings">
  <%= link_to "Create new Pettr", new_petting_path %><br><br>

  <div id="petting-cards-container"> 
    <h3>Sit, Stay. We're fetching some pettings right now!</h3>
  </div> 
</div>