<h1 id="description"></h1>
<h3 id="rating-tagline"></h3>

<ul>
  <li id="link-to-user-page"></li>
  <li id="dog-name"></li>
  <li id="dog-breed"></li>
  <li id="petting-location"></li>
</ul>


<%= edit_delete_options(@petting, @current_user) %>
