/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* body display */

 body {
     text-align: center;
 }

 /* navbar */

 .clearfix:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
 }

 ul#navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: right;
    border-left: 1px solid #706241;
}

#navbar li:first-child{
    border-left: none;
}

#navbar #homepage-link {
    font-size: 1.5em;
    float: left;
}

#navbar li a {
    display: block;
    color:#706241;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
#navbar li a:hover {
    background-color: rgb(243, 206, 84);
}

/* petting, dog display */
 span.petting-description-link, span.dog-name-link {
    font-size: 1.25em;
}
span.petting-info-span, span.dog-info-span, span.dog-profile-span {
    display: block;
}

div.petting-card {
    margin-bottom: 2em;
}

.petting-description-link a:hover, .dog-name-link a:hover {
    text-decoration: underline;
}
.petting-description-link a, .dog-name-link a {
    text-decoration: none;
}
